<header class="gh-head">
    <nav class="gh-navbar inner">
        <div class="gh-navbar-left">
            <div class="gh-nav-logo gh-navbar-item">
                <img class="ghost-svg" src="{{asset "img/soydachi-logo.png"}}" alt="Logo soydachi" rel="presentation">
            </div>
            {{navigation}}
        </div>
        <div class="gh-navbar-right">
            <a class="gh-navbar-item" href="https://ghost.org/about/">About</a>
            <a class="gh-navbar-item" href="https://help.ghost.org">Support</a>
            <a class="gh-navbar-btn gh-btn" href="https://ghost.org/" id="signin-button"><span>Ghost.org</span></a>
        </div>
    </nav>
</header>

    <header class="gh-mobilehead">
        <nav class="gh-mobilenavbar">
            <a class="gh-nav-burger" href="#">
                <div class="hamburger hamburger--collapse" aria-label="Menu">
                    <div class="hamburger-box"><div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
        <a class="gh-nav-logo" href="/">

            <img class="ghost-svg" src="{{asset "img/soydachi-logo.png"}}" alt="Logo soydachi" rel="presentation">
        </a>
    </nav>
    <div class="gh-mobilemenu">
        {{navigation}}
        <a class="gh-navbar-item" href="https://ghost.org/about/">About</a>
        <a class="gh-navbar-item" href="https://help.ghost.org">Support</a>
        <a class="gh-navbar-item" href="https://ghost.org">Back to Ghost.org</a>
    </div>
</header>
