<header class="gh-head">
    <nav class="gh-navbar inner">
        <div class="gh-navbar-left">
            <div class="gh-nav-logo gh-navbar-item">
                <a href="{{@blog.url}}">
                    <img class="ghost-svg" src="{{asset "img/soydachi-logo.png"}}" alt="Logo soydachi" rel="presentation">
                </a>
            </div>
            {{navigation}}
        </div>
        <div class="gh-navbar-right">
            <a class="gh-navbar-item" href="https://soydachi.com/about/">About</a>
            <a class="gh-navbar-item" target="_blank" href="https://www.meetup.com/es-ES/CrossDvlup/">Meetup</a>
            <a class="gh-navbar-btn gh-btn" href="http://crossdvlup.com/" id="signin-button"><span>CrossDvlup Conf 2019</span></a>
        </div>
    </nav>
</header>

    <header class="gh-mobilehead">
        <nav class="gh-mobilenavbar">
            <a class="gh-nav-burger" href="#">
                <div class="hamburger hamburger--collapse" aria-label="Menu">
                    <div class="hamburger-box"><div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
        <a class="gh-nav-logo" href="/">

            <span class="gh-nav-logo-suffix">Dachi Gogotchuri's Blog</span>
        </a>
    </nav>
    <div class="gh-mobilemenu">
        {{navigation}}
        <a class="gh-navbar-item" href="https://soydachi.com/about/">About</a>
        <a class="gh-navbar-item" target="_blank" href="https://www.meetup.com/es-ES/CrossDvlup/">Meetup</a>
        <a class="gh-navbar-item" href="http://crossdvlup.com/">CrossDvlup Conf 2019</a>
    </div>
</header>
